* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1c7690;
    color:white;
    padding:10px;
}
.button {
    padding: 10px;
    text-align: center;
    background-color: #258fac;
    border-color: #258fac;
    border-radius: 10px;
}
.profile-actions{
    display:inline-block;
    gap:20px;
}
.navigation{
    display: flex;
    gap:16px;
}
.link{
    color:white;
    text-decoration: none;
    padding: 8px;
    align-items: center;
    background-color: #258fac;
    border-radius: 5px;
}

.link:hover{
    background-color: #1c5f71;
}

.link:active{
    background-color: #cadce0;
}
filter{
    font-family: "Lucida Console", "Courier New", monospace;
}
.search-container{
   width: 100rem;
}
.search-container > input[type=text]{
    display:block;
    width: 100%;
}

.offres-container{
    display:flex;
    gap: 1rem;
    justify-content: center;
    margin: 12px;
    padding: 4rem;

}
.offre-container{
    max-width: 25rem;
    max-height: fit-content;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFF;
    box-shadow: -1px 5px 15px  #5050502b;
}

.offre-image > img{
    max-width: 100%;
    border-radius: 5px;
}

.offre-details-item {
    display: flex;
    justify-content: start;
    gap: 0.6rem;
}

.offre-actions{
    display: flex;
    justify-content: end;
    gap: 0.6rem;
}

.offre-actions > button {
    border: none;
    border-radius: 5px;
    padding: 0.8rem 0.4rem;
    font-weight: 600;
}
.pagination {
    display: inline-block;
    justify-content: center;
  }
  
  .pagination a {
    color: rgb(95, 67, 67);
    float: left;
    padding: 6px 16px;
    text-decoration: dashed;
  }